/* .box {
  width: 200px;
  height: 200px;
  background-color: #ddd;
} */

/* .error {
  color: #f00;
} */

/* .child {
  cursor: pointer;
} */
/* 
.box {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #666;
} */

.box {
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #f66;
}